@{
    Layout = Layout;
}

<!DOCTYPE>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <title>Главная</title>
</head>
<body>   
    <div class="container">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p class="h1"><b>Почему выбирают нас</b></p>
                </blockquote>
            </figure>
        <div class="row">
            <div class="col-4">
                <img src="/kaska.jpg" class="rounded mx-auto d-block">
                <p class="h6 text-center">У нас только самые качественные товары. Работаем с множеством популярных брендов. Кажды товар на складе проверяется на брак цпециалистом.</p>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <img src="/price.png" class="rounded mx-auto d-block">
                <p class="h6 text-center">У нас самые низкие цены, множество акций и распродаж.</p>
            </div>
        </div>
        <div class="row align-content-center">
            <img src="/logo_main.png" class="rounded mx-auto d-block">
        </div>
        <div class="row">
            <div class="col-4">
                <img src="/dostavka.jpg" class="rounded mx-auto d-block">
                <p class="h6 text-center">Мы предоставляем бесплтную доставку товаров по все России. Вы можете быть уверены, что товар придет в целости и сохранности.</p>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <img src="/service.png" class="rounded mx-auto d-block">
                <p class="h6 text-center">Мы учитываем ваши пожелания и рады любым отзывам, потому что для нас важно становиться лучше.</p>
            </div>
        </div>
    </div>
</body>
</html>