@model WebStore.Models.UserModel
@{ Layout = Layout; }

<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">  
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form class="login-box">
                    @if (Model != null && Model.LoginDto.Error)
                    {
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                        @*<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>*@
                        <div>
                            Неверный логин или пароль!
                        </div>
                    </div>
                    }
                    <div class="mb-3">
                        <input type="text" class="form-control" id="exampleInputLogin" name="login" placeholder="Логин">
                    </div>
                    <div class="mb-3">
                        <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name="password" placeholder="Пароль">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Оставатся в системе</label>
                    </div>
                    <div class="mb-3">
                        <button asp-controller="Login" formmethod="post" type="submit" class="btn btn-primary">Войти</button>
                        <div id="registerHelpBlock" class="form-text">
                            Если у вас нет аккаунта воспользуйтесь <a href="/Registration">регистрацией</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>

</body>

</html>
