
/*.menuColor {
    background: #E4EFD1;
}*/

/*body {
    margin: 0;
}

h2 {
    font-family: monospace;
    color: #606060;
}

ul {
    list-style: none;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}

i {
    margin-right: 10px;
}

nav {
    display: block;
}

.left ul {
    background: #E4EFD1;
    overflow: hidden;
    padding: 0;
}

.left li {
    float: left;
}


.left a {
    display: block;
    padding: 1em;
    border-right: 1px solid #ADC0CE;
    background: rgba(186, 215, 139, .3);
    color: #74924C;
}


    .left a:hover {
        background: #BAD78B
    }

.right ul {
    background: #E4EFD1;
    overflow: hidden;
    padding: 0;
}

.right li {
    float: right;
}


.right a {
    display: block;
    padding: 1em;
    border-right: 1px solid #ADC0CE;
    background: rgba(186, 215, 139, .3);
    color: #74924C;
}


    .right a:hover {
        background: #BAD78B
    }

#Kolontikul {
    border-width: thin;
    border-style:solid;
    background-color: green;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left:0;
}

*/

